@import 'common';

header {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    gap: 150px;
    padding-top: 50px;
}


.logo-images {
    display: flex;
    align-items: center;
    gap: 15px;
}

.button {
    display: flex;
    align-items: center;
    height: 48px;
    width: max-content;
    padding: 0 34px;
    border-radius: 40px;
    color: $second-font-color;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);

    &.not-fill {
        border: 2px solid $main-color;
        background: #ffffff00;
        color: $main-color;
    }
}

#hero {
    display: flex;
    gap: 200px;
    margin-bottom: 160px;

    h1 {
        font-size: 46px;
        background: linear-gradient(156deg, #C0B7E8 0%, #8176AF 100%);
        font-weight: 700;
        line-height: normal;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 16px;
        color: $main-color;
        font-weight: 400;
        line-height: normal;
        margin-top: 36px;
        margin-bottom: 66px;
    }

    .btn-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 11px;
    }

    .hero-image {
        margin-bottom: 88px;
    }

    .picture-frame {
        width: 490px;
        height: 426px;
    }

    .contant {
        .text {
            padding-top: 300px;
        }
    }

}

#contact-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    min-height: 167px;
    border-radius: 90px;
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    margin-bottom: 90px;

    .vertical-line {
        width: 1px;
        height: 116px;
        background-color: rgba(192, 183, 232, 0.33);
    }

    .address {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .phone {
        display: flex;
        align-items: center;

        img {
            padding-right: 29px;
        }
    }

    .message {
        display: flex;
        align-items: center;

        img {
            padding-right: 23px;
        }
    }
}

#introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 72px;

    .sub-block {
        display: flex;
        align-items: start;
        gap: 30px;
    }

    span {
        color: $main-color;
        font-size: 36px;
        font-weight: 300;
        line-height: normal;
    }

    img {
        position: relative;
        bottom: 30px;
    }
}

#about {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 111px;

    .about-image {
        position: absolute;
        left: -100px;
    }

    .about-content {
        padding-top: 60px;
        padding-left: 650px;
        display: flex;
        flex-direction: column;

        span {
            color: $main-color;
            font-size: 36px;
            font-weight: 300;
            line-height: normal;
            padding-bottom: 42px;
        }

        p {
            padding-bottom: 28px;
        }

        a {
            width: 214;
        }
    }
}

#why-build {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 97px;
    margin-top: 271px;

    .sub-block {
        display: flex;
        align-items: start;
        gap: 30px;
    }

    span {
        color: $main-color;
        font-size: 36px;
        font-weight: 300;
        line-height: normal;
    }

    img {
        position: relative;
        bottom: 30px;
    }
}

#services-section {
    display: grid;
    position: relative;
    gap: 11px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 97px;
    margin-top: 71px;
    padding-bottom: 600px;
    background-image: url(assets/Group2\(1\).png);
    background-repeat: no-repeat;
    background-position-y: 200px;


    .service-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 23px 36px 40px 25px;
        border-radius: 40px;
        gap: 17px;
        background: radial-gradient(50.00% 50.00% at 50.00% 50.00%, #433D60 0%, #211E2E 100%);
    }

    .horizontal-line {
        width: 154px;
        height: 1px;
        margin-bottom: 10.5px;
        background-color: rgba(192, 183, 232, 0.33);
    }

    img {
        padding-bottom: 10px;
    }

    h3 {
        padding-bottom: 6.5px;
    }

    p {
        padding-bottom: 40px;
    }
}


#how-we-build {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 97px;
    margin-top: 84px;

    .sub-block {
        display: flex;
        align-items: start;
        gap: 30px;
    }

    span {
        color: $main-color;
        font-size: 36px;
        font-weight: 300;
        line-height: normal;
    }

    img {
        position: relative;
        bottom: 30px;
    }
}

#technologies-section {
    display: flex;

    justify-content: space-around;
    align-items: center;
    gap: 135px;
}

#stages-section {
    display: flex;
    //position: relative;
    justify-content: space-around;


    stage-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 300px;
    }

    .text {
        display: flex;
        position: relative;
        align-items: flex-end;
        align-self: center;

        span {
            top: 4;
            left: 80px;
            color: $main-color;
            font-size: 24px;
            font-weight: 700;
            position: absolute;
        }
    }
}

#registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 112px;
    padding: 90px 110px 84px 107px;
    width: 1275px;
    flex-shrink: 0;
    border-radius: 100px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    img {
        margin-top: 30px;
        margin-bottom: 21px;
    }

    form,
    input,
    textarea {
        width: 100%;
        margin-top: 35px;

    }

    .text-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .name {
        display: flex;
        gap: 10px;
        background: none;
    }

    span {
        color: $main-color;
        font-size: 36px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .button {
        margin-top: 51px;
    }

    input {
        border-radius: 40px;
        border: 2px solid #FFF;
        padding-top: 27px;
        padding-left: 42px;
        padding-bottom: 28px;
        background: none;
        color: $main-color;
    }

    textarea {
        border-radius: 40px;
        border: 2px solid #FFF;
        padding-top: 27px;
        padding-left: 42px;
        padding-bottom: 166px;
        background: none;
        color: $main-color;
    }
}

footer {
    margin-bottom: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/vectors/footer-group.svg);
    background-position-y: -205px;

    .vector-image {
        padding-top: 77px;
    }

    p {
        padding-top: 49px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.82px;
    }
}

.footer-section {
    display: flex;
    align-items: center;
    padding-top: 122px;
    gap: 100px;

    .about-us {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 15px;

        a {
            font-size: 16px;
        }
    }

    .socialize {
        gap: 45px;

        a {
            font-size: 12px;

        }
    }

    .images {
        display: flex;
        gap: 20px;
    }

    span {
        color: $main-color;
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}